
       :root{
            background: linear-gradient(to top, #CCFFFF,  rgb(125, 199, 141));
        }
        #company-logo{
            width: 100px;
            height: 100px;
            position: fixed;
            opacity: 0.2;
        }
        html {
            height: 100%;
            background-repeat: no-repeat;
        }
        body {
            border-radius: 14%;
            text-overflow: hidden;
            /*Prevents text from overflowing*/
            white-space: pre-line;
            height:95%;
            width: 95%;
            margin-top: 20px;
            margin-left: 10px;
            background-color: teal;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        #main-image{
            /*the one where click links to wiki*/
            width: 500px;
            height: 400px;

        }
